## See: http://velocity.apache.org/engine/2.0/vtl-reference.html

<html>
<body style="color: black">
<ul>
    #foreach($equity in $equities)

        <table style="width:100%" border="1">
            <tr>$equity.getCompanyName()'s EPIC is:</tr>

            <tr><th align="left"> $equity.EPIC</th></tr>

        </table>

    #end
</ul>
</body>
</html>