## See: http://velocity.apache.org/engine/2.0/vtl-reference.html

<html>
<body style="color: black">
<ul>
    #foreach($equity in $equities)
    
    #set($value = $equity.getSector() )
    #set($value2 = $equity.getAssetType()) 
	
	
	
    <table style="width:100%" border="1">
    <tr> ${equity.getCompanyName()}</tr>
    
    	<tr><th> EPIC is: $equity.EPIC</th></tr>
    	<tr><th> Asset Type is: $value2 </th></tr>
    	<tr><th> Sector is: $value </th></tr>
    	<tr><th> Currency is: $equity.Currency </th></tr>
    	</tr>
    	</table>
    	
    #end
</ul>
</body>
</html>