## See: http://velocity.apache.org/engine/2.0/vtl-reference.html

<html>

<p><font color="red"> Note that the button "Export to CSV!" doesn't work for the web browser provided in the project you'll have to switch to official browsers in order to have access to that button!</font></p>
<button id="CSV" onclick="exportTableToCSV('Equities.csv')">Export to CSV!</button>
<a href="http://localhost:4567/equities/prices">
	<button id="PriceButt">Show Prices!</button>
</a>
<title> Equities</title>
<body style="color: black" id="Body">
<table  id="table1"style="width:100%" border="1">
    #foreach($equity in $equities)
    
    #set($value = $equity.getSector() )
    #set($value2 = $equity.getCompanyName()) 
	
	
	

        <th>$value2</th>
    
    	<tr style="color:#ff3642">
            <td align="left" color="red"> EPIC is: $equity.EPIC</td>
        </tr>
    	<tr style="color:#3cb3ff">
            <td align="left"> Asset Type is: $equity.getAssetType()</td>
        </tr>
    	<tr style="color:#1dffa0">
            <td align="left"> Sector is: $value </td>
        </tr>
    	<tr >
            <td align="left"> Currency is: $equity.Currency </td>
        </tr>
    	
    #end
</table>
    <script>
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;
            csvFile = new Blob([csv], {type: "text/csv"});
            downloadLink = document.createElement("a");

            downloadLink.download = filename;

            downloadLink.href = window.URL.createObjectURL(csvFile);

            downloadLink.style.display = "none";

            document.body.appendChild(downloadLink);


            downloadLink.click();
        }


        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                csv.push(row.join(","));
            }
            downloadCSV(csv.join("\n"), filename);
        }



    </script>


</body>
</html>