## See: http://velocity.apache.org/engine/2.0/vtl-reference.html

<html>

<p><font color="red"> Note that the button "Export to CSV!" doesn't work for the web browser provided in the project you'll have to switch to official browsers in order to have access to that button!</font></p>
<button onclick="exportTableToCSV('Equities.csv')">Export to CSV!</button>
<a href="http://localhost:4567/equities/prices">
	<button>Show Prices!</button>
</a>

<a href="http://localhost:4567/equities/prices/Financials">
	<button>Show quarter prices for Financials Sector!</button>
</a>

<a href="http://localhost:4567/equities/prices/Materials">
	<button>Show quarter prices for Materials Sector!</button>
</a>

<a href="http://localhost:4567/equities/prices/Information Technology">
	<button>Show quarter prices for Information Technology Sector!</button>
</a>

<a href="http://localhost:4567/equities/prices/Industrials">
	<button>Show quarter prices for Industrials Sector!</button>
</a>

<a href="http://localhost:4567/equities/prices/Consumer Staples">
	<button>Show quarter prices for Consumer Staples Sector!</button>
</a>

<a href="http://localhost:4567/equities/prices/Health Care">
	<button>Show quarter prices for Health Care Sector!</button>
</a>

<a href="http://localhost:4567/equities/prices/Energy">
	<button>Show quarter prices for Energy Sector!</button>
</a>

<a href="http://localhost:4567/equities/prices/Consumer Discretionary">
	<button>Show quarter prices for Consumer Discretionary!</button>
</a>

<a href="http://localhost:4567/equities/prices/Telecommunications">
	<button>Show quarter prices for Telecommunications!</button>
</a>

<a href="http://localhost:4567/equities/prices/Utilities">
	<button>Show quarter prices for Utilities!</button>
</a>
<body style="color: black">
<ul>
    #foreach($equity in $equities)
    
    #set($value = $equity.getSector() )
    #set($value2 = $equity.getCompanyName()) 
	
	
	
    <table style="width:100%" border="1">
        <th>$value2</th>
    
    	<tr style="color:#ff3642">
            <th align="left" color="red"> EPIC is: $equity.EPIC</th>
        </tr>
    	<tr style="color:#3cb3ff">
            <th align="left"> Asset Type is: $equity.getAssetType()</th>
        </tr>
    	<tr style="color:#1dffa0">
            <th align="left"> Sector is: $value </th>
        </tr>
    	<tr >
            <th align="left"> Currency is: $equity.Currency </th>
        </tr>

    	</table>
    	
    #end
    <script>
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;
            csvFile = new Blob([csv], {type: "text/csv"});
            downloadLink = document.createElement("a");

            downloadLink.download = filename;

            downloadLink.href = window.URL.createObjectURL(csvFile);

            downloadLink.style.display = "none";

            document.body.appendChild(downloadLink);


            downloadLink.click();
        }


        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                csv.push(row.join(","));
            }
            downloadCSV(csv.join("\n"), filename);
        }



    </script>


</ul>

</body>
</html>