## See: http://velocity.apache.org/engine/2.0/vtl-reference.html

<html>
<body style="color: blue">
<ul>
    #foreach($person in $people)
    <li>Hello there $person.Age!</li>
    #end
</ul>
</body>
</html>