## See: http://velocity.apache.org/engine/2.0/vtl-reference.html

<html>
<p><font color="red"> Note that the button "Export to CSV!" doesn't work for the web browser provided in the project you'll have to switch to official browsers in order to have access to that button!</font></p>
<button onclick="exportTableToCSV('Equities.csv')">Export to CSV!</button>
<a href="http://localhost:4567/equities">
	<button>Back to equities!</button>
</a>
<body style="color: black">
<ul>


    #foreach($price in $prices)

        #if($foreach.index < $equities.size())
            #set($value2 = $equities.get($foreach.index))
        #else
            #stop
        #end

        <table style="width:40%" border="1">
            <th>$value2.getCompanyName()</th>

            <tr style="color:#ff3642">
                <th align="left" color="red"> EPIC is: $price.EPIC</th>
            </tr>
            <tr style="color:#3cb3ff">
                <th align="left"> Asset Type is: $price.getMid()</th>
            </tr>


        </table>


    #end

    <script>
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;
            csvFile = new Blob([csv], {type: "text/csv"});
            downloadLink = document.createElement("a");

            downloadLink.download = filename;

            downloadLink.href = window.URL.createObjectURL(csvFile);

            downloadLink.style.display = "none";

            document.body.appendChild(downloadLink);

            document.write("shbaeghks");
            downloadLink.click();
        }

        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) {
                    row.push(cols[j].innerText);
                }
                csv.push(row.join(","));
            }
            downloadCSV(csv.join("\n"), filename);
        }


    </script>


</ul>

</body>
</html>